In [ ]:
# dự đoán giá cổ phiếu --> biến mục tiêu là giá ???? ---> regression
# model --> linear regression, random forest, svm

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('sphist.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  object
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  int64
 6   Adj Close  16590 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 907.4+ KB

In [9]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,7/12/15,2090.419922,2090.419922,2066.780029,2077.070068,4043820000,2077.070068
1,4/12/15,2051.239990,2093.840088,2051.239990,2091.689941,4214910000,2091.689941
2,3/12/15,2080.709961,2085.000000,2042.349976,2049.620117,4306490000,2049.620117
3,2/12/15,2101.709961,2104.270020,2077.110107,2079.510010,3950640000,2079.510010
4,1/12/15,2082.929932,2103.370117,2082.929932,2102.629883,3712120000,2102.629883

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [20]:
df.reset_index(inplace = True, drop = True)

In [21]:
df = df.sort_values('Date')

In [22]:
def get_avg_n_days_recent(data,n,col_name):
    result = []
    for index,row in data.iterrows():
        if index < n:
            result.append(0)
        else:
            i_n = index - n
            tmp = data.iloc[i_n:index][col_name].mean()
            result.append(tmp)
            
    return result

In [23]:
def get_std_n_days_recent(data,n,col_name):
    result = []
    for index,row in data.iterrows():
        if index < n:
            result.append(0)
        else:
            i_n = index - n
            tmp = data.iloc[i_n:index][col_name].std()
            result.append(tmp)
            
    return result

In [24]:
##### feature engineering

In [25]:
### Prev_5_avg_price ###
# col_name = 'Open'
# n_recent_days = 5
# tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
# df['feat_01'] = tmp

n_recent_days = 5
col_name = 'Open'
tmp = get_avg_n_days_recent(df, n_recent_days, col_name)
df['feat_01'] = tmp

In [32]:
# feat_02 5 ngafy gaafn nhat của cột High
n_recent_days = 5
col_name = 'High'
tmp = get_avg_n_days_recent(df, n_recent_days, col_name)
df['feat_02'] = tmp

In [33]:
# feat_02 5 ngày gần nhat của cột Low
n_recent_days = 5
col_name = 'Low'
tmp = get_avg_n_days_recent(df, n_recent_days, col_name)
df['feat_03'] = tmp

In [34]:
# feat_02 5 ngày gần nhat của cột Close
n_recent_days = 5
col_name = 'Close'
tmp = get_avg_n_days_recent(df, n_recent_days, col_name)
df['feat_04'] = tmp

In [41]:
n_recent_days = 30 ## nên chọn 22
col_name = 'Open'
tmp = get_avg_n_days_recent(df, n_recent_days, col_name)
df['feat_05'] = tmp

In [40]:
n_recent_days = 30
col_name = 'High'
tmp = get_avg_n_days_recent(df, n_recent_days, col_name)
df['feat_06'] = tmp

In [39]:
n_recent_days = 30
col_name = 'Low'
tmp = get_avg_n_days_recent(df, n_recent_days, col_name)
df['feat_07'] = tmp

In [38]:
n_recent_days = 30
col_name = 'Close'
tmp = get_avg_n_days_recent(df, n_recent_days, col_name)
df['feat_08'] = tmp

In [42]:
###### Prev_5_std_price ###
col_name = 'Open'
n_recent_days = 5
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_09'] = tmp

In [43]:
col_name = 'High'
n_recent_days = 5
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_10'] = tmp

In [44]:
col_name = 'Low'
n_recent_days = 5
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_11'] = tmp

In [45]:
col_name = 'Close'
n_recent_days = 5
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_12'] = tmp

In [46]:
### Prev_30_std_price

In [48]:
col_name = 'Open'
n_recent_days = 30
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_13'] = tmp

In [49]:
col_name = 'High'
n_recent_days = 30
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_14'] = tmp

In [50]:
col_name = 'Low'
n_recent_days = 30
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_15'] = tmp

In [51]:
col_name = 'Close'
n_recent_days = 30
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_16'] = tmp

In [52]:
# Prev_5_avg_volume
col_name = 'Volume'
n_recent_days = 5
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_17'] = tmp

In [53]:
# Prev_30_avg_volume
col_name = 'Volume'
n_recent_days = 30
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_18'] = tmp

In [54]:
# Prev_5_std_volume
n_recent_days = 5
col_name = 'Volume'
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_19'] = tmp

In [55]:
# Prev_30_std_volume
n_recent_days = 30
col_name = 'Volume'
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_20'] = tmp

In [56]:
### một feature có thể đi qua rất nhiều truy vấn
## download raw_Data về tính toán

In [57]:
# # quotient feature : 2 feature chia nhau
# # avg_5 / avg_30
df['feat_21'] = df['feat_01'] / (df['feat_05'] + 0.01) #giá open
df['feat_22'] = df['feat_02'] / (df['feat_06'] + 0.01) #high
df['feat_23'] = df['feat_03'] / (df['feat_07'] + 0.01) #low
df['feat_24'] = df['feat_04'] / (df['feat_08'] + 0.01) #close

# feat_01 thể hiện giá trung bình của 5 ngày gần nhất
# feat_05 thể hiện giá trung bìh của 30 ngày gần nhất
# feat_21 = feat 01 / feat 05 thể hiện tốc độ thay đổi về gía. --> hiểu tại sao nó quan trọng

In [62]:
### product
df['feat_25'] = df['Open'] * df['Volume']  #---> total money tính trên giá Open
df['feat_26'] = df['High'] * df['Volume'] #---> total money giá High
df['feat_27'] = df['Low'] * df['Volume'] #-----> total money giá Low
df['feat_28'] = df['Close'] * df['Volume'] #----> total money giá Close

In [64]:
## difference feature
df['feat_29'] = df['feat_02'] - df['feat_03']  # coi độ lệch giá
df['feat_30'] = df['feat_04'] - df['feat_01']

In [65]:
df['feat_31'] = df['Date'].dt.day_name()

In [66]:
df['feat_32'] = df['Date'].dt.month_name()

In [67]:
df

,Date,Open,High,Low,Close,Volume,Adj Close,feat_01,feat_03,feat_04,...,feat_23,feat_24,feat_25,feat_26,feat_27,feat_28,feat_29,feat_30,feat_31,feat_32
0,1971-01-02,95.879997,97.050003,95.379997,96.419998,20650000,96.419998,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.979922e+09,2.004083e+09,1.969597e+09,1.991073e+09,0.000,0.000000,Saturday,January
1,1971-01-03,96.750000,97.480003,96.110001,97.000000,13020000,97.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.259685e+09,1.269190e+09,1.251352e+09,1.262940e+09,0.000,0.000000,Sunday,January
2,1971-01-04,100.309998,100.989998,99.629997,100.389999,13470000,100.389999,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.351176e+09,1.360335e+09,1.342016e+09,1.352253e+09,0.000,0.000000,Monday,January
3,1971-01-06,99.629997,100.760002,99.220001,100.199997,11930000,100.199997,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.188586e+09,1.202067e+09,1.183695e+09,1.195386e+09,0.000,0.000000,Wednesday,January
4,1971-01-07,99.160004,100.650002,99.160004,99.779999,13090000,99.779999,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.298004e+09,1.317509e+09,1.298004e+09,1.306120e+09,0.000,0.000000,Thursday,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16585,2070-12-24,90.099998,91.080002,89.809998,90.610001,12140000,90.610001,90.769998,89.357999,84.810999,...,1.053489,0.991323,1.093814e+09,1.105711e+09,1.090293e+09,1.100005e+09,1.412,-5.958999,Wednesday,December
16586,2070-12-28,90.610001,91.489998,90.279999,91.089996,12290000,91.089996,90.863999,89.457999,85.077666,...,1.051363,0.991315,1.113597e+09,1.124412e+09,1.109541e+09,1.119496e+09,1.406,-5.786333,Sunday,December
16587,2070-12-29,91.089996,92.379997,90.730003,92.080002,17750000,92.080002,91.007999,89.629999,85.263999,...,1.051082,0.991154,1.616847e+09,1.639745e+09,1.610458e+09,1.634420e+09,1.378,-5.744000,Monday,December
16588,2070-12-30,92.080002,92.989998,91.599998,92.269997,19140000,92.269997,91.329999,89.903999,85.306999,...,1.053764,0.990955,1.762411e+09,1.779829e+09,1.753224e+09,1.766048e+09,1.426,-6.023000,Tuesday,December
16589,2070-12-31,92.269997,92.790001,91.360001,92.150002,13390000,92.150002,91.759999,90.353999,85.596333,...,1.055459,0.990901,1.235495e+09,1.242458e+09,1.223310e+09,1.233889e+09,1.406,-6.163667,Wednesday,December

In [68]:
### feature engineering

In [69]:
### practice machine learning

In [70]:
### dự đoán giá mở cửa
df_final = df.drop(columns = ['High', 'Close', 'Volume', 'Adj Close'])

In [71]:
df_final

,Date,Open,Low,feat_01,feat_03,feat_04,feat_02,feat_08,feat_07,feat_06,...,feat_23,feat_24,feat_25,feat_26,feat_27,feat_28,feat_29,feat_30,feat_31,feat_32
0,1971-01-02,95.879997,95.379997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.979922e+09,2.004083e+09,1.969597e+09,1.991073e+09,0.000,0.000000,Saturday,January
1,1971-01-03,96.750000,96.110001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.259685e+09,1.269190e+09,1.251352e+09,1.262940e+09,0.000,0.000000,Sunday,January
2,1971-01-04,100.309998,99.629997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.351176e+09,1.360335e+09,1.342016e+09,1.352253e+09,0.000,0.000000,Monday,January
3,1971-01-06,99.629997,99.220001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.188586e+09,1.202067e+09,1.183695e+09,1.195386e+09,0.000,0.000000,Wednesday,January
4,1971-01-07,99.160004,99.160004,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.298004e+09,1.317509e+09,1.298004e+09,1.306120e+09,0.000,0.000000,Thursday,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16585,2070-12-24,90.099998,89.809998,90.769998,89.357999,84.810999,90.769998,85.543333,84.810999,86.286999,...,1.053489,0.991323,1.093814e+09,1.105711e+09,1.090293e+09,1.100005e+09,1.412,-5.958999,Wednesday,December
16586,2070-12-28,90.610001,90.279999,90.863999,89.457999,85.077666,90.863999,85.813000,85.077666,86.549999,...,1.051363,0.991315,1.113597e+09,1.124412e+09,1.109541e+09,1.119496e+09,1.406,-5.786333,Sunday,December
16587,2070-12-29,91.089996,90.730003,91.007999,89.629999,85.263999,91.007999,86.015000,85.263999,86.724999,...,1.051082,0.991154,1.616847e+09,1.639745e+09,1.610458e+09,1.634420e+09,1.378,-5.744000,Monday,December
16588,2070-12-30,92.080002,91.599998,91.329999,89.903999,85.306999,91.329999,86.075667,85.306999,86.773332,...,1.053764,0.990955,1.762411e+09,1.779829e+09,1.753224e+09,1.766048e+09,1.426,-6.023000,Tuesday,December
16589,2070-12-31,92.269997,91.360001,91.759999,90.353999,85.596333,91.759999,86.372333,85.596333,87.061999,...,1.055459,0.990901,1.235495e+09,1.242458e+09,1.223310e+09,1.233889e+09,1.406,-6.163667,Wednesday,December

In [73]:
### phần train < 2014 --- train 
### test >= 2014 
from datetime import datetime

In [75]:
train = df[df.Date < datetime(year = 2014, month = 1, day =1)]
test = df[df.Date >= datetime(year = 2014, month = 1, day =1)]

In [81]:
#numerical, feature
#approach 1,bỏ hết categorical feature, chỉ sử dụng numerical feature
li_feats = ['feat_01','feat_02','feat_03','feat_04','feat_05',
           'feat_06','feat_07','feat_08','feat_09','feat_10',
           'feat_11','feat_12','feat_13','feat_14','feat_15',
           'feat_16','feat_17','feat_18','feat_19','feat_20',
           'feat_21','feat_22','feat_23','feat_24','feat_25',
           'feat_26','feat_27','feat_28','feat_29','feat_30']

# X_train, y_train, X_test, y_test
X_train = train[li_feats]
y_train = train['Open']

X_test = test[li_feats]
y_test = test['Open']

In [142]:
# cho cách 2: 
# convert categorical --> numerical --> one-hot encoding, or label encoding
X_train = train[li_feats]

In [ ]:
#pd.get_dummies
pd.get_dummies(X_train, prefix = [col], columns = [col])

In [ ]:
# modeal ---> Linear regression, random forest, xgboost, catboost, lightGBM

# use LinearRegression ---> scaling, những mô hình tính đến yếu tô khoảng cách (Linear Regression)

#scaling không đảm bảo tính toán chính xác 100% 

# có 2 cách scaling: standardScaling, MinMaxScaling(giá trị lớn nhất, nhỏ nhất của feature đó)

In [83]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [84]:
scaler = StandardScaler()

In [93]:
X_train_sc = scaler.fit_transform(X_train)  # fit là để tìm ra tham số (shape) của độ phân bố của hình 
X_test_sc = scaler.transform(X_test)  #sau khi fit trên X_train thì sử dụng cái fit đó trên X_test

In [94]:
#X_train_sc. X_test_sc, y_train, y_test

In [108]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

#XGBOOST #CatBoost #LightGBM

In [97]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.3.3-py3-none-macosx_10_14_x86_64.macosx_10_15_x86_64.macosx_11_0_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 2.2 MB/s eta 0:00:01
Requirement already satisfied: scipy in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from xgboost) (1.5.2)
Requirement already satisfied: numpy in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from xgboost) (1.19.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.3.3

In [101]:
!pip install catboost

Collecting catboost
  Downloading catboost-0.24.4-cp37-none-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (11.1 MB)
     |████████████████████████████████| 11.1 MB 991 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.0 in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from catboost) (1.19.2)
Requirement already satisfied: six in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from catboost) (1.1.5)
Requirement already satisfied: scipy in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from catboost) (1.5.2)
Requirement already satisfied: plotly in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from catboost) (4.14.1)
Requirement already satisfied: matplotlib in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from catboost) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from pandas>=0.24.0->catboost) (2020.5)
Collecting graphviz
  Downloading graphviz-0.16-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from matplotlib->catboost) (8.0.1)
Requirement already satisfied: cycler>=0.10 in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: certifi>=2020.06.20 in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from matplotlib->catboost) (2020.12.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from matplotlib->catboost) (1.3.0)
Requirement already satisfied: retrying>=1.3.3 in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from plotly->catboost) (1.3.3)
Installing collected packages: graphviz, catboost
Successfully installed catboost-0.24.4 graphviz-0.16

In [122]:
#model = LinearRegression()  #tuning parameter
model = RandomForestRegressor(n_estimators = 500) # cần tuning mới có kết quả tốt

In [135]:
#model.fit(X_train_sc, y_train)
model.fit(X_train, y_train)

RandomForestRegressor()

In [136]:
#### predict
#predictions = model.predict(X_test_sc)
predictions = model.predict(X_test)

In [137]:
predictions

array([1811.17658556, 1814.71088753, 1799.8652882 , ...,   89.8525007 ,
         90.67070064,   87.90210059])

In [138]:
# tính giá trị sai số của dự đoán 
from sklearn.metrics import mean_absolute_error

In [139]:
mean_absolute_error(y_test, predictions)

46.68961476592237

In [121]:
### baseline là có giá trị sai số là 15.526
# How to improve --> reduce error as much as possible