In [1]:
import pandas as pd

In [2]:
## Load data
df = pd.read_csv('sphist.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,7/12/15,2090.419922,2090.419922,2066.780029,2077.070068,4043820000,2077.070068
1,4/12/15,2051.239990,2093.840088,2051.239990,2091.689941,4214910000,2091.689941
2,3/12/15,2080.709961,2085.000000,2042.349976,2049.620117,4306490000,2049.620117
3,2/12/15,2101.709961,2104.270020,2077.110107,2079.510010,3950640000,2079.510010
4,1/12/15,2082.929932,2103.370117,2082.929932,2102.629883,3712120000,2102.629883

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  object
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  int64
 6   Adj Close  16590 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 907.4+ KB

In [5]:
# convert column 'Date' to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
# arrange 'Date' column in increasing order
df = df.sort_values('Date')

In [13]:
df.reset_index(inplace = True, drop = True)

In [8]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,1971-01-02,95.879997,97.050003,95.379997,96.419998,20650000,96.419998
1,1971-01-03,96.750000,97.480003,96.110001,97.000000,13020000,97.000000
2,1971-01-04,100.309998,100.989998,99.629997,100.389999,13470000,100.389999
3,1971-01-06,99.629997,100.760002,99.220001,100.199997,11930000,100.199997
4,1971-01-07,99.160004,100.650002,99.160004,99.779999,13090000,99.779999

In [53]:
# df['total_open'] = df['Open'] * df['Volume']
# df['total_high'] = df['High'] * df['Volume']
# df['total_low'] = df['Low'] * df['Volume']
# df['total_close'] = df['Close'] * df['Volume']

In [54]:
# df.head()

In [55]:
# df['diff_high_low'] = df['High'] - df['Low']
# df['diff_close_open'] = df['Close'] - df['Open']

In [11]:
def get_avg_n_days_recent(data,n,col_name):
    result = []
    for index,row in data.iterrows():
        if index < n:
            result.append(0)
        else:
            i_n = index - n
            tmp = data.iloc[i_n:index][col_name].mean()
            result.append(tmp)
            
    return result

In [12]:
def get_std_n_days_recent(data,n,col_name):
    result = []
    for index,row in data.iterrows():
        if index < n:
            result.append(0)
        else:
            i_n = index - n
            tmp = data.iloc[i_n:index][col_name].std()
            result.append(tmp)
            
    return result

In [10]:
### Prev_5_avg_price ###
col_name = 'Open'
n_recent_days = 5
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_01'] = tmp

NameError: name 'get_avg_n_days_recent' is not defined

In [9]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,1971-01-02,95.879997,97.050003,95.379997,96.419998,20650000,96.419998
1,1971-01-03,96.750000,97.480003,96.110001,97.000000,13020000,97.000000
2,1971-01-04,100.309998,100.989998,99.629997,100.389999,13470000,100.389999
3,1971-01-06,99.629997,100.760002,99.220001,100.199997,11930000,100.199997
4,1971-01-07,99.160004,100.650002,99.160004,99.779999,13090000,99.779999

In [59]:
col_name = 'High'
n_recent_days = 5
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_02'] = tmp

In [60]:
col_name = 'Low'
n_recent_days = 5
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_03'] = tmp

In [61]:
col_name = 'Close'
n_recent_days = 5
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_04'] = tmp

In [62]:
### Prev_30_avg_price ###
col_name = 'Open'
n_recent_days = 30
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_05'] = tmp

In [63]:
col_name = 'High'
n_recent_days = 30
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_06'] = tmp

In [64]:
col_name = 'Low'
n_recent_days = 30
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_07'] = tmp

In [65]:
col_name = 'Close'
n_recent_days = 30
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_08'] = tmp

In [66]:
### Prev_5_std_price ###
col_name = 'Open'
n_recent_days = 5
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_09'] = tmp

In [67]:
col_name = 'High'
n_recent_days = 5
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_10'] = tmp

In [68]:
col_name = 'Low'
n_recent_days = 5
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_11'] = tmp

In [69]:
col_name = 'Close'
n_recent_days = 5
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_12'] = tmp

In [70]:
### Prev_30_std_price ###
col_name = 'Open'
n_recent_days = 30
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_13'] = tmp

In [71]:
col_name = 'High'
n_recent_days = 30
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_14'] = tmp

In [72]:
col_name = 'Low'
n_recent_days = 30
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_15'] = tmp

In [73]:
col_name = 'Close'
n_recent_days = 30
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_16'] = tmp

In [74]:
# Prev_5_avg_volume
col_name = 'Volume'
n_recent_days = 5
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_17'] = tmp

In [75]:
# Prev_30_avg_volume
col_name = 'Volume'
n_recent_days = 30
tmp = get_avg_n_days_recent(df,n_recent_days,col_name)
df['feat_18'] = tmp

In [76]:
# Prev_5_std_volume
n_recent_days = 5
col_name = 'Volume'
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_19'] = tmp

In [77]:
# Prev_30_std_volume
n_recent_days = 30
col_name = 'Volume'
tmp = get_std_n_days_recent(df,n_recent_days,col_name)
df['feat_20'] = tmp

In [78]:
# quotient feature
# avg_5 / avg_30
df['feat_21'] = df['feat_01'] / (df['feat_05'] + 0.01)
df['feat_22'] = df['feat_02'] / (df['feat_06'] + 0.01)
df['feat_23'] = df['feat_03'] / (df['feat_07'] + 0.01)
df['feat_24'] = df['feat_04'] / (df['feat_08'] + 0.01)

In [79]:
# total open price
df['feat_25'] = df['Open'] * df['Volume']
df['feat_26'] = df['High'] * df['Volume']
df['feat_27'] = df['Low'] * df['Volume']
df['feat_28'] = df['Close'] * df['Volume']

In [80]:
## difference feature
df['feat_29'] = df[feat_] - df['Low']
df['feat_30'] = df['Close'] - df['High']

In [81]:
### some datetime feature
df['feat_31'] = df['Date'].dt.day_name()

In [82]:
df['feat_32'] = df['Date'].dt.month_name()

In [83]:
# df_final = df.drop(columns = ['Date','High','Low','Close','Volume','Adj Close'])
df_final = df.drop(columns = ['High','Low','Close','Volume','Adj Close'])

In [84]:
df_final.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 34 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     16590 non-null  datetime64[ns]
 1   Open     16590 non-null  float64
 2   feat_01  16590 non-null  float64
 3   feat_02  16590 non-null  float64
 4   feat_03  16590 non-null  float64
 5   feat_04  16590 non-null  float64
 6   feat_05  16590 non-null  float64
 7   feat_06  16590 non-null  float64
 8   feat_07  16590 non-null  float64
 9   feat_08  16590 non-null  float64
 10  feat_09  16590 non-null  float64
 11  feat_10  16590 non-null  float64
 12  feat_11  16590 non-null  float64
 13  feat_12  16590 non-null  float64
 14  feat_13  16590 non-null  float64
 15  feat_14  16590 non-null  float64
 16  feat_15  16590 non-null  float64
 17  feat_16  16590 non-null  float64
 18  feat_17  16590 non-null  float64
 19  feat_18  16590 non-null  float64
 20  feat_19  16590 non-null  float64
 21  feat_20  16590 non-null  float64
 22  feat_21  16590 non-null  float64
 23  feat_22  16590 non-null  float64
 24  feat_23  16590 non-null  float64
 25  feat_24  16590 non-null  float64
 26  feat_25  16590 non-null  float64
 27  feat_26  16590 non-null  float64
 28  feat_27  16590 non-null  float64
 29  feat_28  16590 non-null  float64
 30  feat_29  16590 non-null  float64
 31  feat_30  16590 non-null  float64
 32  feat_31  16590 non-null  object
 33  feat_32  16590 non-null  object
dtypes: datetime64[ns](1), float64(31), object(2)
memory usage: 4.3+ MB

### Approach 1: Remove all categorical features and use LinearRegression

In [85]:
from datetime import datetime
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [86]:
# spliting dataframe into train and test parts
train = df_final[df_final.Date < datetime(year = 2014, month = 1, day = 1)]
test = df_final[df_final.Date >= datetime(year = 2014, month = 1, day = 1)]

In [96]:
# li_feats = ['feat_01','feat_02','feat_03','feat_04','feat_05',
#            'feat_06','feat_07','feat_08','feat_09','feat_10',
#            'feat_11','feat_12','feat_13','feat_14','feat_15',
#            'feat_16','feat_17','feat_18','feat_19','feat_20',
#            'feat_21','feat_22','feat_23','feat_24','feat_25',
#            'feat_26','feat_27','feat_28','feat_29','feat_30']


li_feats = ['feat_01','feat_02']


X_train = train[li_feats]
y_train = train['Open']

X_test = test[li_feats]
y_test = test['Open']

In [97]:
scaler = StandardScaler()

In [98]:
X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
model = LinearRegression()
# model = RandomForestRegressor()

In [100]:
model.fit(X_train_sc,y_train)

LinearRegression()

In [101]:
predictions = model.predict(X_test_sc)

In [102]:
from sklearn.metrics import mean_absolute_error

In [103]:
mae = mean_absolute_error(y_test,predictions)

In [104]:
mae

17.355815365797397

### Approach 2

In [ ]:
from xgboost import XGBRegressor

In [18]:
!pip install xgboost

Requirement already satisfied: xgboost in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (1.3.3)
Requirement already satisfied: numpy in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in /Users/stephaniebui/opt/anaconda3/envs/lanhuong/lib/python3.7/site-packages (from xgboost) (1.5.2)